.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: #000000;
  color: #2a033b;
}

.card-containe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #000000;
  color: #2a033b;
}



.card {
  margin: 5%;
  flex-direction: column;
  background-color: rgb(204, 30, 30);
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-color: black;
  width: 75%;
  max-width: 400px;
  position: relative;
}

.card::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 10px;
  box-shadow: 0 0 10px #090a0a, 0 0 10px #770404, 0 0 15px #8b0a0a, 0 0 20px #a80808, 0 0 25px #f70b0b, 0 0 30px #bfca1d;
  opacity: 0;
  pointer-events: none;
  animation: illuminateAnimation 2s ease-in-out infinite;
}

@keyframes illuminateAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.card-image {
  width: 100%;
  height: 200px; /* Ajusta la altura de la imagen según tus necesidades */
  align-items: center;
}

.card-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-description {
  font-size: 16px;
  margin-top: 10px;
  flex-grow: 1;
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
  .card {
    width: 84%;
  }

  .card-image {
    height: 150px; /* Ajusta la altura de la imagen para dispositivos móviles */
  }
}

.buttona{
  display: inline-block;
  margin-left: 25%;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background: linear-gradient(to right, #ff9900, #994c00);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.buttona2{
  display: inline-block;
  margin-left: 30%;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background: linear-gradient(to right, #ff9900, #994c00);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.modal11 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

select {
  width: 175px; /* Ancho del select */
  padding: 10px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente */
  border: 1px solid #40045c; /* Borde */
  border-radius: 5px; /* Borde redondeado */
  background-color: #c2cee4; /* Color de fondo */
  color: #333; /* Color de texto */
}

/* Estilos al hacer hover en el select */
select:hover {
  border-color: #2a033b; /* Borde al hacer hover */
}

/* Estilos al seleccionar una opción */
select:focus {
  outline: none; /* Quita el contorno al seleccionar */
  box-shadow: 0 0 5px #bd9cc4; /* Sombra al seleccionar */
}

/* Estilos para las opciones del select */
select option {
  background-color: #b29dc5; 
  color: #000000; /* Color de texto de las opciones */
}

label {
  display: inline-block; /* Muestra el label en línea */
  font-size: 20px; /* Tamaño de fuente */
  font-weight: bold; /* Peso de la fuente */
  color: #333; /* Color de texto */
  margin-bottom: 5px; /* Margen inferior */
}

/* Estilos al hacer hover en el label */
input[type="date"] {
  padding: 8px;
  background-color: #c2cee4; /* Color de fondo */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 175px;
  border: 1px solid #40045c; /* Borde */
}
input {
  padding: 8px;
  background-color: #c2cee4; /* Color de fondo */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 175px;
  border: 1px solid #40045c; /* Borde */
}

h3{
  color: #000000;
    font-size: 32px;
    margin-bottom: 20px;
}
h2{
  color: #000000;
    font-size: 32px;
    margin-bottom: 20px;
}
