.home-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/fondo.jpg');
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
  overflow: hidden; /* Evita el desbordamiento en dispositivos móviles */
}

.content {
  text-align: center;
}

@keyframes wordAppear {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  20% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

h1 {
  margin-top: -300px;
  font-size: 25px;
  margin-bottom: 20px;
  font-family: "Spicy Rice", cursive;
  white-space: nowrap;
  animation: wordAppear 9s ease-out infinite;
  font-weight: bold;
  background: linear-gradient(to right, #ff0000, #ffffff, #000080);
  background-clip: text;
  color: transparent;
  margin-left: 10%;
}

h1 span {
  display: inline-block;
  opacity: 0;
  animation: wordAppear 9s ease-out infinite;
  animation-delay: 0.5s;
  margin-left: 5%;
}
h2 {
  position: fixed;
  margin-top: 330px;
  font-size: 4vw;
  margin-bottom: 20px;
  font-family: "Spicy Rice", cursive;
  white-space: nowrap;
  font-weight: bold;
  background: linear-gradient(to right, #000000, #0d0916, #1e0a20, #030007);
  background-clip: text;
  color: transparent;
}

/* Aplicar estilos específicos para dispositivos móviles (ancho <= 768px) */
@media (max-width: 768px) {
  h2 {
    position: absolute; /* Cambiar la posición para dispositivos móviles */
    font-size: 25px;
    margin-top: 120%; /* Ajustar la posición vertical */
    margin-left: 35%;
  }
}
.comunicados-list {
  list-style-type: none;
  padding: 0;
  margin-top: -100%;
}
.comunicado-item {
  margin-top: 0%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #00000079;
  margin-left: -50%;
  width: min-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fcfbfb;
  font-weight: bold;
  font-size: 15px;
}

h4 {
  position: fixed;
  margin-top: 330px;
  font-size: 4vw;
  margin-bottom: 20px;
  font-family: "Spicy Rice", cursive;
  white-space: nowrap;
  animation: wordAppear 4s ease-out infinite;
  font-weight: bold;
  background: linear-gradient(to right, #df6767, #ffffff, #010133);
  background-clip: text;
  color: transparent;
}

/* Aplicar estilos específicos para dispositivos móviles (ancho <= 768px) */
@media (max-width: 768px) {
  h4 {
    position: absolute; /* Cambiar la posición para dispositivos móviles */
    font-size: 25px;
    margin-top: -10%; /* Ajustar la posición vertical */
    margin-left: -50%;
  }
}




.button {
  display: inline-block;
  font-weight: bold;
  font-family: "Spicy Rice", cursive;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background: linear-gradient(to right, #ff0000, #ffffff, #000080);
  color: #00000093;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background: linear-gradient(to right, #ff0000, #ffffff, #000080);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  button {
    position: absolute; /* Cambiar la posición para dispositivos móviles */
    font-size: 18px;
    margin-top: 10%; /* Ajustar la posición vertical */
    margin-left: 0%;
  }
}

.buttonL {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Spicy Rice", cursive;
  top: -3%;
  left: 70%;
  border: none;
  background: linear-gradient(to right, #ff0000, #ffffff, #000080);
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttonL:hover {
  background: linear-gradient(to right, #ff0000, #ffffff, #000080);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .buttonL {
    position: absolute; /* Cambiar la posición para dispositivos móviles */
    font-size: 18px;
    margin-top: 10%; /* Ajustar la posición vertical */
    margin-left: 0%;
  }
}

/* inicio.module.css */
/* inicio.module.css (o tu archivo CSS) */
.highlight {
  background-color: yellow; /* Cambia el color de fondo del primer elemento */
  font-weight: bold; /* Puedes aplicar otros estilos para resaltar */
}
