body {
  background: linear-gradient(45deg, #272727, #7f5a83);
  background-size: cover;
}


@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 20% 50%;
  }
}



h3 {
  font-size: 18px;
  animation: pulsate 1s infinite;
}



h4 {
  text-align: center;
  font-size: 30px;
  background: linear-gradient(to right, #ff9900, #ff5f6d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}