body {
  background: linear-gradient(45deg, #d12cc9, #8744c5, #5dc8fa);
  background-size: 600% 600%;
  animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 20% 50%;
  }
}



h3 {
  font-size: 18px;
  animation: pulsate 1s infinite;
}



h4 {
  text-align: center;
  font-size: 30px;
  background: linear-gradient(to right, #ff9900, #ff5f6d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}