/* Estilos para el contenedor principal */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilos para el área de entrada de texto y botón */
  .textarea-container {
    margin-bottom: 20px;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para la lista de comunicados */
  .comunicados-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  /* Estilos para el botón de "Atrás" */
  .back-button {
    margin-top: 20px;
  }
  
  /* Estilos para el botón de eliminar */
  .delete-button {
    background-color: #ff5722;
  }
  
  .delete-button:hover {
    background-color: #d84315;
  }
  