/* Estilos generales para el contenedor principal */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para el contenedor del input y botón */
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .text-area {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  .button {
    margin-top: 17%;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
  }
  .buttons {
    margin-top: 100%;
    padding: 10px 20px;
    background-color: #2bd6c8;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* Estilos para la lista de comunicados */
  .comunicados-container {
    text-align: center;
  }
  
  .comunicados-list {
    list-style-type: none;
    padding: 0;
  }
  
  .comunicado-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  /* Estilo para la tabla */
/* Estilo para la tabla */
.comunicados-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-top: 10%;
}

/* Estilo para las celdas de la tabla */
.comunicados-table th,
.comunicados-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;

}

/* Estilo para las filas impares */
.comunicados-table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

/* Estilo para el botón "Eliminar" */
.eliminar-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.eliminar-button:hover {
  background-color: #cc0000;
}

  
  /* Estilos para dispositivos móviles */
  @media screen and (max-width: 767px) {
    .comunicado-item {
      flex-direction: row; /* Cambia de nuevo a diseño en fila en dispositivos móviles */
      text-align: left; /* Alinéa el texto a la izquierda */
    }
  
    .eliminar-button {
      margin-left: 0%;
      margin-top: -5%; /* Elimina el margen superior */
    }
  }
  